body,p{
    padding:0;
    margin:0;
    color:rgb(102,102,102);
    background-color:rgb(24,24,25);
}

h1,h2,h3,h4,h5,h6,p{
    font-family: "Darker Grotesque", sans-serif;
    padding:0;
    margin:0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a,a:hover {
    text-decoration: none;
    color:rgb(102,102,102);
}

/* MAIN SECTIONS START */
.container-fluid{
    background-color: #181819;
}

/* MAIN SECTIONS END */

/* NAVIGATION START */
.navigation-mobile{
    height:4em;/*14vw */
    padding:0 4vw 0 4vw;
    background-color:rgb(24,24,25);
}

.navigation-tablet{
    height:6em;/*9.5vw;*/
    padding:0 3vw 0 3vw;
    background-color:rgb(24,24,25);
}

.nav-menu{
    width:20vw;
    height:auto;
    float:left;
    padding:0;
    margin-top:14px;
    text-align:left;
}

.nav-logo-mobile{
    width:32vw;
    height:85%;
    float:left;
    margin-top:3%;
    background-image:url(../images/Video_Bench_Logo.png);
    background-size:100%;
    background-position:center center;
    background-repeat:no-repeat;
}

.nav-logo-tablet{
    width:20vw;
    height:85%;
    float:left;
    margin-top:1%;
    background-image:url(../images/Video_Bench_Logo.png);
    background-size:80%;
    background-position:left;
    background-repeat:no-repeat;
}

.nav-item{
    width:100px;/*11vw;*/
    height:100%;
    text-align:center;
    padding-top:10px;
    float:left;
    text-align: center;
}

.nav-item h4{
    font-family:"Darker Grotesque", sans-serif;
    font-size:20px;
    padding-top:20px; 
    transition:0.4s;
}

.nav-item:hover{
    text-decoration: none;
    cursor:pointer;
    color:rgb(208,73,37);
}

.nav-item i{
    display:none;
}

.library{
    width:150px;/*15vw;*/
}

.circle{
    width:7px;
    height:7px;
    border-radius:50px;
    margin:0 auto;
    background-color:rgb(208,73,37);
    display:none;
}

/* Active Nav Item Start */
.nav-active h4{
    display:none;
}

.nav-active i{
    display:block;
    padding-bottom:10px;
}

/* Active Nav Item End */

.nav-search-mobile{
    width:20vw;
    height:auto;
    float:right;
    text-align:right;
    margin-top:13px;
}

.nav-search-tablet{
    width:6vw;
    height:100%;
    float:right;
    text-align:center;
    padding-top:28px;
}

.nav-search-desktop{
    width:25%;
    height:55%;
    margin:18px 10px 22px 0px;
    padding:7px 10px 7px 10px;
    float:right;
    border-radius:10px;
    border:1px solid #666666;
    text-align:right;
}

.nav-profile{
    width:55px;
    height:100%;
    padding-left:12px;
    padding-top:20px;
    float:right;
}


.nav-profile-image{
    width:45px;
    height:45px;
    border-radius:50px;
    background-image:url(../images/mike_2.jpeg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
}

.nav-profile h6{
    padding-top:5px;
}

 /* Navigation icons styling */
.fa-bars{
    color:rgb(102,102,102);
    font-size:200%;/*40px;*/
    transition:0.6s;
}

.fa-search{
    color:rgb(102,102,102);
    font-size:200%;
    padding-top:1%;
}

.fa-home, .fa-heart, .fa-film{
    color:rgb(208,73,37);
    font-size:200%;
    padding-top:15px;
    padding-bottom:15px;
}

.fa-times{
    color:rgb(102,102,102);
    font-size:150%;
    padding:15px 10px 15px 10px;
}

/* Mobile Menu Slider */
.mobile-menu{
    position:absolute;
    top:4em;
    left:0;
    bottom:0;
    right:0;
    height:95h;
    z-index:1;
    background-color:rgb(24,24,25); /* Darker Grey Background Color */
    width:0;
    transition:0.5s ease;
    opacity:0;
}

.mobile-menu-section1{
    width:100%;
    height:35%;
    padding-top:30px;
    text-align:center;
    opacity:0;
    transition-delay:0.3s;
    transition:0.2s;
}

.mobile-menu-section2{
    width:100%;
    height:49%;
    padding-top:12px;
    border-top:1px solid rgb(102,102,102);
    opacity:0;
    transition-delay:0.3s;
    transition:0.2s;
}

.mobile-menu-section3{
    width:100%;
    height:16%;
    padding-top:15px;
    border-top:1px solid rgb(102,102,102);
    text-align:center;
    opacity:0;
    transition-delay:0.3s;
    transition:0.2s;
}

.mobile-menu-profile{
    width:calc(12vh + 4.5vw);
    height:calc(12vh + 4.5vw);
    margin:0 auto;
}

.mobile-menu-profile-image{
    width:100%;
    height:100%;
    border-radius:50px;
    background-color:white;
}

.mobile-menu-nav-item{
    width:100%;
    height:22%;
    margin-bottom:3%;
}

.mobile-menu-nav-item h2{
    height:100%;
    padding:9px 0px 0px 25px;
    float:left;
    font-size:calc(3vh + 1vw);
}

.mobile-menu-nav-item i{
    padding:14px 0px 14px 10px;
    float:left;
    text-align:center;
    font-size:calc(3vh + 1vw);
    color:rgb(102,102,102); /* Lighter Grey Text Color */ 
}

.mobile-menu-nav-active i, .mobile-menu-nav-active h2{
    color:rgb(208,73,37); /* Orange background color */
}
/* NAVIGATION END */

/* HEADER START */
.header{
    height:69vh;
    padding:0;
    margin:0;
}

.header-wrapper{
    width:100%;
    height:100%;
}

.header-slider{
    height:95%;
    width:100%;
    margin:0 auto;
}

.header-index-container{
    width:6%;
    height:2.3%;
    padding:0 0.2% 0 0.2%;
    position:absolute;
    top:98%;
    left:92%;
}

.header-circle{
    height:100%;
    width:15%;
    margin:0% 7% 0% 7%;
    float:left;
    background-color:rgb(102,102,102); /* Light Grey background color */
    border-radius:50px;
    opacity:0.5;
    transition:0.5s;
}


.header-circle:hover{
    cursor:pointer;
    opacity:0.8;
}

.header-circle-active{
    background-color:rgb(208,73,37); /* Orange background color */
    opacity:0.8;
}

.header-slide{
    width:15%;
    height:100%;
    float:left;
    transform:skewX(-2deg);
    transition:0.5s;
    opacity:0.5;
    filter: blur(0.3px) grayscale(100%);
}

.header-slide-active{
    width:70%;
    height:100%;
    float:left;
    transform:skewX(-2deg);
    opacity:1;
    border:none;
    filter:grayscale(0%);
}

.header-slide-content{
    width:40%;
    padding:1% 1.5% 1% 1.5%;
    position:absolute;
    top:40%;
    left:3%;
    border-radius:6px;
    background-color: rgba(24,24,25,0.92);
}

.header-text h4{
    padding-bottom:5%;
    font-size:calc(1.5vh + 0.8vw);
}

.header-buttons-container{
    width:100%;
    margin-top:5%;
}

.header-button-info{
    width:30%;
    height:70%;
    float:left;
    text-align:center;
    font-size:calc(0.9vh + 0.7vw);
    padding:3% 0% 3% 0%;
    color:rgb(208,73,37);
}

.header-button-play{
    width:35%;
    height:70%;
    float:left;
    border-radius:5px;
    text-align:center;
    margin:0% 2.5% 0% 2.5%;
    font-size:calc(2vh + 0.5vw);
    padding:2.5% 0% 2.5% 0%;
    color:rgb(208,73,37); 
    border:1.5px solid rgb(208,73,37); 
    transition:0.5s ease;
}

.header-button-list{
    width:30%;
    height:70%;
    float:right;
    text-align:center;
    font-size:calc(0.9vh + 0.7vw);
    padding:3% 0% 3% 0%;
    color:rgb(208,73,37);
}


.header-button-play:hover{
    color:rgb(255,255,255);
    background-color:rgb(208,73,37); 
    cursor:pointer;
}

.header-button-list:hover, .header-button-info:hover{
    cursor:pointer;
    font-size:calc(0.95vh + 0.8vw);
    transition:0.3s ease;
}

.fa-plus, .fa-info{
    padding-right:5%;
}

/*
.header-arrow-left{
    width:3.5%;
    height:11%;
    position:absolute;
    top:44%;
    left:0.8%;
    background-image:url(../images/Arrow.png);
    background-repeat: no-repeat;
    background-size:65%;
    background-position: center;
    transform:rotate(180deg);
    border-radius:50%;
    background-color:rgb(208,73,37); /* Orange background color 
    box-shadow: -5px -5px 6px rgba(24,24,25,0.9);
    cursor:pointer;
    transition:0.5s;
    display:none;
}

.header-arrow-right{
    width:3.5%;
    height:11%;
    position:absolute;
    top:44%;
    right:0.8%;
    background-image:url(../images/Arrow.png);
    background-repeat: no-repeat;
    background-size:65%;
    background-position: center;
    border-radius:50%;
    background-color:rgb(208,73,37); /* Orange background color 
    box-shadow: -5px 5px 6px rgba(24,24,25,0.9);
    cursor:pointer;
    transition: 0.5s;
}*/
/* HEADER END */






/* RECOMMENDED SECTION START */
.recommended-mobile{
    height:9vw;
    padding:0 4vw 0 4vw;
    background-color:rgb(24,24,25); /* Dark Grey2 Background Color */
    margin-top:0.5vh;
}

.recommended-desktop{
    height:6vw;
    margin-left:0.4%;
}

.recommended-carousel{
    width:100%;
    height:100%;
    padding-left:15%;
}

.recommended-carousel-heading{
    height:95%;
    padding-top:3%;
    float:left;
    margin:0% 2.5% 0% 2.5%;
}

.recommended-desktop-heading{
    height:70%;
    padding:1.3% 0% 0% 1.5%;
}

.recommended-carousel-heading h6{
    font-size:3.5vw;
    font-family:"Darker Grotesque", sans-serif;
    text-align:center;
    color:rgb(102,102,102); /* Lighter Grey Text Color */
    padding-bottom:5%;
}

.recommended-heading-line{
    width:40%;
    height:5%;
    border-radius:50px;
    margin-left:30%;
    margin-right:30%;
    background-color:rgb(208,73,37); /* Orange background color */
}

.recommended-desktop-heading h6{
    font-size:2.3vw;
    font-family:"Darker Grotesque", sans-serif;
    color:rgb(102,102,102); /* Lighter Grey Text Color */
    padding-bottom:0.5%;
}

.recommended-heading-line-desktop{
    width:4%;
    height:3px;
    border-radius:50px;
    background-color:rgb(208,73,37); /* Orange background color */
}

.recommended-heading-active h6{
    font-size:4vw;
    color:rgb(208,73,37); /* Orange Text Color */
}

.recommended-heading-active{
    padding-top:1.3%;
}

/* IMAGE CAROUSEL START */
.image-carousel{
    height:calc(16vw + 24vh); /* 1vw x 1.5vh */
    padding:0;
    margin:0;
    background-color:rgb(24,24,25);
}
.wrapper {
	padding: 10px;
    height:100%;
	margin: 0; /*-75px 0 0 -410px;*/
	position: absolute;
	left:0;
	top: 0;
}

.image-container{
    width: 201px;/*201px;*/
	height:310px;/*127px;*/
    margin: 0 6px;
	float: left;
    transform:skew(-2deg);
    box-shadow: 5px 5px 4px rgb(0,0,0,0.30);
    background-color:antiquewhite;
    cursor:pointer;
}
.image-container img {
}

.poster-name{
    width:100%;
    height:12%;
    position:absolute;
    top:0;
    padding-top:5px;
    font-size:calc(1vw + 0.5vh);
    text-align: center;
    background-color: rgb(24,24,25);
    color:rgb(208,73,37);
    display:none;
}

.poster-buttons{
    width:100%;
    height:18%;
    position:absolute;
    top:78%;
    padding:15px 5px 0px 15px;
    background-color: rgba(24,24,25,0.9);
    display:none;
}

.poster-button-info{
    width:25%;
    height:70%;
    float:left;
    text-align:center;
    font-size:calc(0.6vw + 1vh);
    padding:3% 0% 3% 0%;
    color:rgb(208,73,37);
}

.poster-button-play{
    width:45%;
    height:70%;
    float:left;
    border-radius:5px;
    text-align:center;
    margin:0% 2.5% 0% 2.5%;
    font-size:calc(1vw + 0.5vh);
    font-weight:100;
    padding:1% 0% 2.5% 0%;
    color:rgb(208,73,37); 
    border:1px solid rgb(208,73,37); 
    transition:0.5s ease;
}

.poster-button-list{
    width:25%;
    height:70%;
    float:right;
    text-align:center;
    font-size:calc(0.6vw + 1vh);
    padding:3% 0% 3% 0%;
    color:rgb(208,73,37);
}


.poster-button-play:hover{
    color:rgb(255,255,255);
    background-color:rgb(208,73,37); 
    cursor:pointer;
}

.poster-button-list:hover, .poster-button-info:hover{
    cursor:pointer;
    font-size:calc(0.95vh + 0.8vw);
    transition:0.3s ease;
}


#next {
    background-color:rgb(208,73,37);
    background-image:url(../images/Arrow_left.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:70%;
    box-shadow: 
    /*background: red url("../images/Arrow_right") no-repeat 0 0;*/
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 45px;
	height: 45px;
    border-radius:50px;
	position: absolute;
	top: 145px;
    opacity:0.5;
    box-shadow: -5px 5px 6px rgba(24,24,25,0.9);
    transition:0.4s ease;
}

#prev{
    background-color:rgb(208,73,37);
    background-image:url(../images/Arrow_right.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:70%;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 45px;
	height: 45px;
    border-radius:50px;
	position: absolute;
	top: 145px;
    opacity:0.5;
    box-shadow: 5px 5px 6px rgba(24,24,25,0.9);
    transition:0.4s ease;
}

#prev {
	left: 30px;
}

#prev:hover {
    cursor:pointer;
    opacity:1;
}			

#next {
	right: 30px;
}
			
#next:hover {
    cursor:pointer;
    opacity:1;
}

#pager {
    text-align: center;
	margin: 0 auto;
	padding-top: 20px;
}

#pager a {
    background: transparent url("../images/img/carousel_control.png") no-repeat -2px -32px;
	text-decoration: none;
	text-indent: -999px;
	display: inline-block;
	overflow: hidden;
	width: 8px;
	height: 8px;
	margin: 0 5px 0 0;
}

#pager a.selected {
    background: transparent url("../images/img/carousel_control.png") no-repeat -12px -32px;
	text-decoration: underline;				
}
/* IMAGE CAROUSEL END */

/* FOOTER START */
.footer-mobile{
    height:30vw;/*130px;*/
    background-color:#151516;
    text-align:center;
    padding:0;
    margin:0;
}

.footer-tablet{
    height:10vw;/*110px;*/
    background-color:#151516;
    text-align:center;
    padding:0;
    margin:0;
}

.footer-connect{
    height:50%;
}

.footer-copywrite{
    height:25%;
    color:rgb(208,73,37);
    font-family:"Darker Grotesque",sans-serif;
    font-size:3vw;
    margin-top:0.5vw;
}

.footer-social-media{
    height:25%;
}

.footer-mobile p{
    padding:4px 0px 8px 0px;
    font-size:3vw;
}

.footer-tablet p{
    font-size:1.5vw;
    padding:0px 5px 8px 5px;
    background-color:#151516;
}

.footer-tablet h6{
    font-size:1.8vw;
    padding-top:10px;
    margin:0;
    background-color:#151516;
}

.connect-textbox{
    width:55%;
    height:45%;
    border-radius:6px;
    padding:3px;
    background-color:#ffffff;
    margin:0 auto;
}

input[type=text]{
    width:75%;
    height:100%;
    padding-left:10px;
    background-color:transparent;
    border:none;
    float:left;
    color:#666666;
    font-size:2.5vw;
    font-family:"Darker Grotesque", sans-serif;
}

.connect-textbox div{
    width:25%;
    height:100%;
    float:right;
    border-radius:4px;
    background-color:rgb(208,73,37); /* Orange background color */
    border:none;
    text-align:center;
    color:#ffffff;
    font-family:"Darker Grotesque", sans-serif;
    font-size:4vw;
    padding:0;
    margin:0;
    cursor:pointer;
}

.social-media{
    width:30%;;
    height:100%;
    margin:0 auto;
}

.social-media-icon{
    width:33.3%;
    height:auto;
    float:left;
}

.fa-facebook-f, .fa-twitter, .fa-pinterest-p{
    font-size:3.5vw;
    color:rgb(208,73,37);
    margin-top:2vw;
}
/* FOOTER END */