body,p{
    padding:0;
    margin:0;
    color:rgb(102,102,102);
}

h1,h2,h3,h4,h5,h6,p{
    font-family: "Darker Grotesque", sans-serif;
    padding:0;
    margin:0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a,a:hover {
    text-decoration: none;
    color:rgb(102,102,102);
}

/* MAIN SECTIONS START */
.container-fluid{
    background-color: #181819;
}

/* MAIN SECTIONS END */

/* NAVIGATION START */
.navigation-mobile{
    height:4em;/*14vw */
    padding:0 4vw 0 4vw;
    background-color:rgb(24,24,25);
}

.navigation-tablet{
    height:6em;/*9.5vw;*/
    padding:0 3vw 0 3vw;
    background-color:rgb(24,24,25);
}

.nav-menu{
    width:20vw;
    height:auto;
    float:left;
    padding:0;
    margin-top:14px;
    text-align:left;
}

.nav-logo-mobile{
    width:52vw;
    height:100%;
    padding:0;
    float:left;
    background-color:orange;
}

.nav-logo-tablet{
    width:20vw;
    height:100%;
    float:left;
    background-color:orange;
}

.nav-item{
    width:100px;/*11vw;*/
    height:100%;
    text-align:center;
    padding-top:10px;
    float:left;
    text-align: center;
    color:red;
}

.nav-item h4{
    font-family:"Darker Grotesque", sans-serif;
    font-size:20px;
    padding-top:20px; 
    transition:0.4s;
}

.nav-item:hover{
    text-decoration: none;
    cursor:pointer;
    color:rgb(208,73,37);
}

.nav-item i{
    display:none;
}

.library{
    width:150px;/*15vw;*/
}

.circle{
    width:7px;
    height:7px;
    border-radius:50px;
    margin:0 auto;
    background-color:rgb(208,73,37);
    display:none;
}

/* Active Nav Item Start */
.nav-active h4{
    display:none;
}

.nav-active i{
    display:block;
    padding-bottom:10px;
}

/* Active Nav Item End */

.nav-search-mobile{
    width:20vw;
    height:auto;
    float:right;
    text-align:right;
    margin-top:13px;
}

.nav-search-tablet{
    width:6vw;
    height:100%;
    float:right;
    text-align:center;
    padding-top:28px;
}

.nav-search-desktop{
    width:25%;
    height:55%;
    margin:18px 10px 22px 0px;
    padding:7px 10px 7px 10px;
    float:right;
    border-radius:10px;
    border:1px solid #666666;
    text-align:right;
}

.nav-profile{
    width:55px;
    height:100%;
    padding-left:12px;
    padding-top:20px;
    float:right;
}


.nav-profile-image{
    width:45px;
    height:45px;
    border-radius:50px;
    background-color:beige;
}

.nav-profile h6{
    padding-top:5px;
}

 /* Navigation icons styling */
.fa-bars{
    color:rgb(102,102,102);
    font-size:200%;/*40px;*/
    transition:0.6s;
}

.fa-search{
    color:rgb(102,102,102);
    font-size:200%;
    padding-top:1%;
}

.fa-home, .fa-heart, .fa-film{
    color:rgb(208,73,37);
    font-size:200%;
    padding-top:15px;
    padding-bottom:15px;
}

.fa-times{
    color:rgb(102,102,102);
    font-size:150%;
    padding:15px 10px 15px 10px;
}

/* Mobile Menu Slider */
.mobile-menu{
    position:absolute;
    top:4em;
    left:0;
    bottom:0;
    right:0;
    height:95h;
    z-index:1;
    background-color:rgb(24,24,25); /* Darker Grey Background Color */
    width:0;
    transition:0.5s ease;
    opacity:0;
}

.mobile-menu-section1{
    width:100%;
    height:35%;
    padding-top:30px;
    text-align:center;
    opacity:0;
    transition-delay:0.3s;
    transition:0.2s;
}

.mobile-menu-section2{
    width:100%;
    height:49%;
    padding-top:12px;
    border-top:1px solid rgb(102,102,102);
    opacity:0;
    transition-delay:0.3s;
    transition:0.2s;
}

.mobile-menu-section3{
    width:100%;
    height:16%;
    padding-top:15px;
    border-top:1px solid rgb(102,102,102);
    text-align:center;
    opacity:0;
    transition-delay:0.3s;
    transition:0.2s;
}

.mobile-menu-profile{
    width:calc(12vh + 4.5vw);
    height:calc(12vh + 4.5vw);
    margin:0 auto;
}

.mobile-menu-profile-image{
    width:100%;
    height:100%;
    border-radius:50px;
    background-color:white;
}

.mobile-menu-nav-item{
    width:100%;
    height:22%;
    margin-bottom:3%;
}

.mobile-menu-nav-item h2{
    height:100%;
    padding:9px 0px 0px 25px;
    float:left;
    font-size:calc(3vh + 1vw);
}

.mobile-menu-nav-item i{
    padding:14px 0px 14px 10px;
    float:left;
    text-align:center;
    font-size:calc(3vh + 1vw);
    color:rgb(102,102,102); /* Lighter Grey Text Color */ 
}

.mobile-menu-nav-active i, .mobile-menu-nav-active h2{
    color:rgb(208,73,37); /* Orange background color */
}
/* NAVIGATION END */

/* HEADER START */
.header-mobile{
    height:55vh; /*450px;*/
    background-image:linear-gradient(to bottom, rgba(24, 24, 25, 0) 40%, rgba(24,24,25,1) 100%),url(../images/header_poster2.jpeg);
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;
}

.header-tablet{
    height:55vh;
    background-color:rgb(24,24,25);
    padding:0;
    margin:0;
}

.header-desktop{
    height:70vh;
    background-color:rgb(24,24,25);
    padding:0;
    margin:0;
}

.header-image-left{
    width:8%;
    height:98%;
    float:left;
    clip-path: polygon(0% 0%, 100% 0%, 89.8% 100%, 0% 100%);
    background: linear-gradient(to left, rgba(24, 24, 25, 0.5) 0%, rgba(24,24,25,0.9) 90%),url(../images/header_poster1.jpeg);
    background-repeat:no-repeat;
    background-position:right;
    background-size:cover;
}

.header-image-middle{
    width:80%;
    height:98%;
    margin:0% 2% 0% 2%;
    float:left;
    transform:skew(-2deg);
}

.image-middle{
    width:55%;
    height:100%;
    float:right;
    /*clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 35%);*/
     /*background-image:linear-gradient(192deg, transparent 40%, rgba(24,24,25,0.99) 48%),url(../images/header_poster2.jpeg);
    ;*/
    box-shadow: 5px 5px 7px rgb(0,0,0,0.75);
    background-image:url(../images/header_poster2.jpeg);
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;   
}

.image-middle-content{
    width:45%;
    height:100%;
    float:left;
    background-color: antiquewhite;
}

.header-text{
    width:90%;
    height:auto;
    margin:0 auto;
    margin-top:20%;
    padding-bottom:10%;
    background-color:yellow;
}

.header-text h4{
    padding-bottom:5%;
    font-size:calc(1.5vh + 0.8vw);
}

.header-buttons-container{
    width:90%;
    height:15%;
    margin:0 auto;
    background-color:black;
}

.header-button-info{
    width:30%;
    height:75%;
    float:left;
    text-align:center;
    font-size:calc(0.9vh + 0.7vw);
    padding:3% 0% 3% 0%;
    background-color:white;
}

.header-button-play{
    width:35%;
    height:75%;
    float:left;
    border-radius:5px;
    text-align:center;
    margin:0% 2.5% 0% 2.5%;
    font-size:calc(2vh + 0.5vw);
    padding:2.5% 0% 2.5% 0%;
    color:rgb(208,73,37); 
    border:1.5px solid rgb(208,73,37); 
}

.header-button-list{
    width:30%;
    height:75%;
    float:right;
    text-align:center;
    font-size:calc(0.9vh + 0.7vw);
    padding:3% 0% 3% 0%;
    background-color:white;
}

.fa-plus, .fa-info{
    padding-right:2%;
}

.header-slide-controller{
    width:calc(4vh + 3vw);
    height:calc(0.8vh + 0.4vw);
    position:absolute;
    top:93%;
    left:20%;
}

.header-index-circle{
    width:17%;
    height:100%;
    float:left;
    margin:0 7% 0 7%;
    background-color:rgba(102,102,102,0.5);
    border-radius:50px;
}

.index-active{
    background-color:rgb(208,73,37);
}

.header-image-right{
    width:8%;
    height:98%;
    float:right;
    clip-path: polygon(10.2% 0%, 100% 0%, 100% 100%, 0% 100%);
    background: linear-gradient(to right, rgba(24, 24, 25, 0.5) 0%, rgba(24,24,25,0.9) 90%),url(../images/header_poster3.jpeg);
    background-repeat:no-repeat;
    background-position:left;
    background-size:cover;
}
/* HEADER END */

/* RECOMMENDED SECTION START */
.recommended-mobile{
    height:9vw;
    padding:0 4vw 0 4vw;
    background-color:rgb(24,24,25); /* Dark Grey2 Background Color */
    margin-top:0.5vh;
}

.recommended-desktop{
    height:6vw;
    margin-left:0.4%;
}

.recommended-carousel{
    width:100%;
    height:100%;
    padding-left:15%;
}

.recommended-carousel-heading{
    height:95%;
    padding-top:3%;
    float:left;
    margin:0% 2.5% 0% 2.5%;
}

.recommended-desktop-heading{
    height:70%;
    padding:1.3% 0% 0% 1.5%;
}

.recommended-carousel-heading h6{
    font-size:3.5vw;
    font-family:"Darker Grotesque", sans-serif;
    text-align:center;
    color:rgb(102,102,102); /* Lighter Grey Text Color */
    padding-bottom:5%;
}

.recommended-heading-line{
    width:40%;
    height:5%;
    border-radius:50px;
    margin-left:30%;
    margin-right:30%;
    background-color:rgb(208,73,37); /* Orange background color */
}

.recommended-desktop-heading h6{
    font-size:2.3vw;
    font-family:"Darker Grotesque", sans-serif;
    color:rgb(102,102,102); /* Lighter Grey Text Color */
    padding-bottom:0.5%;
}

.recommended-heading-line-desktop{
    width:4%;
    height:3px;
    border-radius:50px;
    background-color:rgb(208,73,37); /* Orange background color */
}

.recommended-heading-active h6{
    font-size:4vw;
    color:rgb(208,73,37); /* Orange Text Color */
}

.recommended-heading-active{
    padding-top:1.3%;
}

/* IMAGE CAROUSEL START */
.image-carousel-mobile{
    height:40vh;
    padding:0;
    margin:0;
}

.image-carousel-tablet{
    height:50vh;
    padding:0;
    margin:0;
}

.image-carousel-desktop{
    height:50vh;
    padding:0;
    margin:0;
}

.image-carousel-visible{
    width:100%;
    height:98%;
    margin:0 auto;
    overflow:hidden;
    background-color:rgb(24,24,25);
}

.image-carousel-mobile-content{
    width:150%;
    height:96%;
    margin:0 auto;
    padding-left:1.5%;
}

.image-carousel-tablet-content{
    width:150%;
    height:96%;
    padding-left:1.5%;
    margin:0 auto;
}

.image-carousel-desktop-content{
    width:150%;
    height:96%;
    padding-left:1.5%;
    margin:0 auto;
}

.image-carousel-poster-lg-mobile{
    width:130px;/*28%;*/
    height:98%;
    float:left;
    margin:5px 13px 20px 0px;
    transform:skewX(-2deg);
}

.image-carousel-poster-lg-tablet{
    width:150px;/*28%;*/
    height:98%;
    float:left;
    margin:5px 13px 20px 0px;
    transform:skewX(-2deg);
}


.image-carousel-poster-lg-desktop{
    width:210px;/*9.5%;*/
    height:98%;
    float:left;
    margin:0.2% 1% 20px 0%;
    transform:skewX(-2deg);
    background-color:white;
}

.image-carousel-poster-sm{
    width:100%;
    height:47.25%;
    
}

.image-carousel-poster-sm-divider{
    width:100%;
    height:5.5%;
}

.recommended-poster1{
    width:100%;
    height:100%;
    background-image:url(../images/recommended_poster1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 6px rgb(0,0,0,0.50);
}

.recommended-poster2{
    width:100%;
    height:100%;
    background-image:url(../images/recommended_poster2.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 6px rgb(0,0,0,0.50);
}

.recommended-poster3{
    width:100%;
    height:100%;
    background-image:url(../images/recommended_poster3.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 6px rgb(0,0,0,0.50);
}
/* IMAGE CAROUSEL END */


/* FOOTER START */
.footer-mobile{
    height:30vw;/*130px;*/
    background-color:#151516;
    text-align:center;
    padding:0;
    margin:0;
}

.footer-tablet{
    height:10vw;/*110px;*/
    background-color:#151516;
    text-align:center;
    padding:0;
    margin:0;
}

.footer-connect{
    height:50%;
}

.footer-copywrite{
    height:25%;
    color:rgb(208,73,37);
    font-family:"Darker Grotesque",sans-serif;
    font-size:3vw;
    margin-top:0.5vw;
}

.footer-social-media{
    height:25%;
}

.footer-mobile p{
    padding:4px 0px 8px 0px;
    font-size:3vw;
}

.footer-tablet p{
    font-size:1.5vw;
    padding:0px 5px 8px 5px;
}

.footer-tablet h6{
    font-size:1.8vw;
    padding-top:10px;
    margin:0;
}

.connect-textbox{
    width:55%;
    height:45%;
    border-radius:6px;
    padding:3px;
    background-color:#ffffff;
    margin:0 auto;
}

input[type=text]{
    width:75%;
    height:100%;
    padding-left:10px;
    background-color:transparent;
    border:none;
    float:left;
    color:#666666;
    font-size:2.5vw;
    font-family:"Darker Grotesque", sans-serif;
}

.connect-textbox div{
    width:25%;
    height:100%;
    float:right;
    border-radius:4px;
    background-color:rgb(208,73,37); /* Orange background color */
    border:none;
    text-align:center;
    color:#ffffff;
    font-family:"Darker Grotesque", sans-serif;
    font-size:4vw;
    padding:0;
    margin:0;
    cursor:pointer;
}

.social-media{
    width:30%;;
    height:100%;
    margin:0 auto;
}

.social-media-icon{
    width:33.3%;
    height:auto;
    float:left;
}

.fa-facebook-f, .fa-twitter, .fa-pinterest-p{
    font-size:3.5vw;
    color:rgb(208,73,37);
    margin-top:2vw;
}
/* FOOTER END */