body{
    margin: 0;
    padding: 0;
}

header{
}


content{
    width: 100%;
    height: auto;
}

.left-side{
    float: left;
}
.right-side{
    float: left;
}

.mORs-title{
    width: 950px;
    height: 150px;
    background-color: blueviolet;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    
}

.mORs-information{
    width: 950px;
    height: 700px;
    background-color: aqua;
    
}

.mORs-poster-box{
    height: 700px;
    width: 450px;
    background-color: coral;
        
}
.mORs-poster{
    height: 600px;
    width: 450px;
    background-color: coral;
        
}

.mORs-buttons{
    height: 100px;
    width: 450px;
    background-color: darkcyan;
}

footer{
    
}