body{
    background-color: black;
}

header{
}


content{
    height: auto;
}

.mORs-title{
    height: 150px;
    background-color: blueviolet;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    float: left;
    
}

.mORs-information{
    height: 800px;
    background-color: aqua;
    float: left;
    
    
}

.mORs-poster-box{
    height: 950px;

        
}
.mORs-poster{
    height: 800px;
    background-color: wheat;
        
}

.mORs-buttons{
    height: 150px;
    background-color: darkcyan;
}

footer{
    
}