/* general */

body{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Darker Grotesque', sans-serif;
}

p{
    font-family: 'Darker Grotesque', sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

input{
    font-family:'Darker Grotesque', sans-serif;
}

input:focus {
border : 1px solid #d04925 !important;
outline-color : #d04925 !important;
}

::placeholder{
  color: white;
  opacity: 1;
}

/* Sign-in Page */

.container{
    background-color: white;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;
}

.background-movies{
    height: 100%;
    background-image: url(../images/Movie_List.jpeg);
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

.background-overlay{
    height: 75%;
    width: 100%;
    background-color: #000000;
    opacity: .9;
    margin: 0px;
}

.background-overlay:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: skewY(20deg);
    box-shadow: 10px 25px 15px #181818;
}

.content-container{
    background-color: transparent;
    height: 100%;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

.logo-container{
    background-color: transparent;
    height: 100px;
    margin: 0px;
    padding: 0px;
    margin-top: 2%;
}

.logo{
    align-content: center;
    height: 100px;
    background-image: url(../images/Video_Bench_Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
}

/* sign in container */

.sign-in-container{
    position: relative;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
}

/* START OF SIGN-IN MOBILE */

.sign-in-heading{
    text-align: center;
    color: white;
    margin-top: -20px;
}

.sign-in-text{
    font-weight: 300;
    font-size: 80px;
}

.user-container{
    width: 80%;
    margin-left: 10%;
    height: 25px;
    background-color: transparent;
    margin-top: 30px;
}

.user-icon{
    color: white;
    font-size: 20px;
}

.user-text{
    width: 200px;
    height: 20px;
    margin-left: 12%;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: -20px;
    background-color: transparent;
    border: none;
}

.user-line{
    background-color: white;
    width: 100%;
    height: 1px;
    margin-top: 10px;
}

.email-container{
    width: 80%;
    margin-left: 10%;
    height: 25px;
    background-color: transparent;
    margin-top: 30px;
}

.email-icon{
    color: white;
    font-size: 20px;
}

.email-text{
    width: 200px;
    height: 20px;
    margin-left: 12%;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: -20px;
    background-color: transparent;
    border: none;
}

.email-line{
    background-color: white;
    width: 100%;
    height: 1px;
    margin-top: 11px;
}

.password-container{
    width: 80%;
    margin-left: 10%;
    height: 25px;
    background-color: transparent;
    margin-top: 30px;
}

.password-icon{
    color: white;
    font-size: 20px;
}

.password-text{
    width: 200px;
    height: 20px;
    margin-left: 12%;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: -20px;
    background-color: transparent;
    border: none;
}

.password-line{
    background-color: white;
    width: 100%;
    height: 1px;
    margin-top: 12px;
}

.password-hide-icon{
    margin-left: 90%;
    margin-top: -20px;
    color: white;
    font-size: 20px;
}

.sign-in-btn{
    width: 50%;
    height: 60px;
    background-color: transparent;
    margin-left: 25%;
    margin-top: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #d04925;
    border-radius: 15px;
}

.sign-in-btn-text{
    color: #d04925;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 12.5px;
}


.switch-container{
    width: 100%;
    height: 10%;
    background-color: transparent;
}

.sign-in-next-btn{
    width: 70px;
    height: 70px;
    background-color: #d04925;
    margin-top: 145px;
    margin-left: 70%;
    border-radius: 50%;
    box-shadow: 5px 15px 20px #181818;
    
}

.sign-in-arrow{
    width: 40px;
    height: 40px;
    background-image: url(../images/Arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
}

.sign-up-prompt{
    width: 118px;
    height: 30px;
    background-color: transparent;
    margin-top: -100px;
    margin-left: 64%;
}

.new-here-prompt{
    color: white;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2px;
}

.sign-up-prompt-text{
    color: #d04925;
    font-size: 12px;
    font-weight: 700;
    float: right;
    margin-top: -26px;
    letter-spacing: 2px;
}

/* END OF SIGN-IN MOBILE */



/* START OF SIGN-IN TABLET */

.sign-in-heading-tab{
    text-align: center;
    color: white;
    margin-top: 50px;
}

.sign-in-text-tab{
    font-weight: 300;
    font-size: 80px;
}

.user-container-tab{
    width: 80%;
    margin-left: 10%;
    height: 40px;
    background-color: transparent;
    margin-top: 50px;
}

.user-icon-tab{
    width: 25px;
    height: 25px;
    color: white;
    font-size: 20px;
}

.user-text-tab{
    width: 400px;
    height: 25px;
    margin-left: 12%;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: -28px;
    background-color: transparent;
    border: none;
}

.user-line-tab{
    background-color: white;
    width: 100%;
    height: 2px;
    margin-top: 6px;
}


.email-container-tab{
    width: 80%;
    margin-left: 10%;
    height: 40px;
    background-color: transparent;
    margin-top: 50px;
}

.email-icon-tab{
    width: 25px;
    height: 25px;
    color: white;
    font-size: 20px;
}

.email-text-tab{
    width: 400px;
    height: 25px;
    margin-left: 12%;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: -28px;
    background-color: transparent;
    border: none;
}

.email-line-tab{
    background-color: white;
    width: 100%;
    height: 2px;
    margin-top: 5px;
}

.password-container-tab{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    height: 40px;
    background-color: transparent; 
}

.password-icon-tab{
    width: 25px;
    height: 25px;
    color: white;
    font-size: 20px;
}

.password-text-tab{
    width: 400px;
    height: 25px;
    margin-left: 12%;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: -24px;
    background-color: transparent;
    border: none;
}

.password-line-tab{
    background-color: white;
    width: 100%;
    height: 2px;
    margin-top: 7px;
}

.password-hide-icon-tab{
    width: 25px;
    height: 25px;
    margin-left: 95%;
    margin-top: -25px;
    color: white;
    font-size: 20px;
}

.sign-in-btn-tab{
    width: 50%;
    height: 60px;
    background-color: transparent;
    margin-left: 25%;
    margin-top: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: #d04925;
    border-radius: 15px;
}

.sign-in-btn-text-tab{
    color: #d04925;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 12.5px;
}


.switch-container-tab{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.sign-in-next-btn-tab{
    width: 100px;
    height: 100px;
    background-color: #d04925;
    margin-top: 200px;
    margin-left: 20%;
    border-radius: 50%;
    box-shadow: 5px 15px 20px #181818;
}

.sign-in-next-btn-tab:hover{
    opacity: 0.5;
}

.sign-in-arrow-tab{
    width: 50px;
    height: 50px;
    background-image: url(../images/Arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 25px;
    margin-top: 25px;
    position: absolute;
}

.sign-up-prompt-tab{
    width: 175px;
    height: 30px;
    background-color: transparent;
    margin-top: -140px;
    margin-left: 15%;
}

.new-here-prompt-tab{
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.sign-up-prompt-text-tab{
    color: #d04925;
    font-size: 20px;
    font-weight: 700;
    float: right;
    margin-top: -37px;
    letter-spacing: 2px;
}

/* END OF SIGN-IN TABLET */



/* START OF SIGN-IN DESKTOP */


.sign-in-heading-desk{
    text-align: center;
    color: white;
    margin-top: 0px;
}

.sign-in-text-desk{
    font-weight: 300;
    font-size: 80px;
}

.user-container-desk{
    width: 80%;
    margin-left: 10%;
    height: 25px;
    background-color: transparent;
    margin-top: 50px;
}

.user-icon-desk{
    color: white;
    font-size: 20px;
}

.user-text-desk{
    width: 400px;
    height: 25px;
    margin-left: 12%;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: -20px;
    background-color: transparent;
    border: none;
}

.user-line-desk{
    background-color: white;
    width: 100%;
    height: 2px;
    margin-top: 5px;
}


.email-container-desk{
    width: 80%;
    margin-left: 10%;
    height: 25px;
    background-color: transparent;
    margin-top: 50px;
}

.email-icon-desk{
    color: white;
    font-size: 20px;
}

.email-text-desk{
    width: 400px;
    height: 25px;
    margin-left: 12%;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: -25px;
    background-color: transparent;
    border: none;
}

.email-line-desk{
    background-color: white;
    width: 100%;
    height: 2px;
    margin-top: 5px;
}

.password-container-desk{
    width: 80%;
    margin-left: 10%;
    margin-top: 45px;
    height: 25px;
    background-color: transparent; 
}

.password-icon-desk{
    color: white;
    font-size: 20px;
}

.password-text-desk{
    width: 400px;
    height: 25px;
    margin-left: 12%;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: -20px;
    background-color: transparent;
    border: none;
}

.password-line-desk{
    background-color: white;
    width: 100%;
    height: 2px;
    margin-top: 10px;
}

.password-hide-icon-desk{
    margin-left: 95%;
    margin-top: -25px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.password-hide-icon-desk:hover{
    transform: scale(1,1.5);
    transition: 300ms;
}



.sign-in-btn-desk{
    width: 50%;
    height: 60px;
    background-color: transparent;
    margin-left: 25%;
    margin-top: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: #d04925;
    border-radius: 15px;
    cursor: pointer;
}

.sign-in-btn-desk:hover{
    background-color: #d04925;
    transition: 300ms;
    box-shadow: 100px 5px 150px #d04925;
}

.sign-in-btn-text-desk{
    color: #d04925;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 12.5px;
    width: 100%;
    height: 100%;
}

.sign-in-btn-text-desk:hover{
    color: white;
    transition: 300ms;
}


/* sign-in desktop info section */

.switch-container-desk{
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: -100px;
    margin-left: -200px;
}

.sign-in-next-btn-desk{
    width: 100px;
    height: 100px;
    background-color: #d04925;
    margin-top: 250px;
    margin-left: 60%;
    border-radius: 50%;
    box-shadow: 5px 15px 20px #181818;
    cursor: pointer;
}

.sign-in-next-btn-desk:hover{
    transform: scale(1,1.1);
    transition: all ease 300ms;
    cursor: pointer;
}

.sign-in-arrow-desk{
    width: 50px;
    height: 50px;
    background-image: url(../images/Arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 25px;
    margin-top: 25px;
    position: absolute;
}

.sign-up-prompt-desk{
    width: 175px;
    height: 30px;
    background-color: transparent;
    margin-top: -140px;
    margin-left: 55%;
}

.new-here-prompt-desk{
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.sign-up-prompt-text-desk{
    color: #d04925;
    font-size: 20px;
    font-weight: 700;
    float: right;
    margin-top: -37px;
    letter-spacing: 2px;
}

.devider-line{
    width: 2px;
    height: 60%;
    background-color: white;
    margin-top: 10%;
    margin-left: 100%;
}

.devider-line-left{
    width: 2px;
    height: 60%;
    background-color: white;
    margin-top: 10%;
    margin-left: 0%;
}

.info-text-container{
    color: white;
    margin-top: -65%;
    margin-left: 10%;
    width: 80%;
    text-align: center;
}

.info-text{
    font-size: 35px;
    letter-spacing: 1px;
}

.info-1-container{
    width: 50%;
    height: 40px;
    margin-left: 25%;
    margin-top: 40px;
    background-color: transparent;
}

.info-2-container{
    width: 50%;
    height: 40px;
    margin-left: 25%;
    margin-top: 20px;
    background-color: transparent;
}

.info-3-container{
    width: 50%;
    height: 40px;
    margin-left: 25%;
    margin-top: 20px;
    background-color: transparent;
}

.couch-icon{
    width: 40px;
    height: 100%;
    background-image: url(../images/couch.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.clock-icon{
    width: 40px;
    height: 100%;
    background-image: url(../images/clock.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.device-icon{
    width: 40px;
    height: 100%;
    background-image: url(../images/devices.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.watch-anywhere{
    color: white;
    font-size: 20px;
    margin-top: -30px;
    margin-left: 70px;
    letter-spacing: 2px;
}

.watch-anytime{
    color: white;
    font-size: 20px;
    margin-top: -30px;
    margin-left: 70px;
    letter-spacing: 2px;
}

.watch-device{
    color: white;
    font-size: 20px;
    margin-top: -30px;
    margin-left: 70px;
    letter-spacing: 2px;
}


/* END OF SIGN-IN DESKTOP */


/* -------------------------------------------------------- */

/* SIGN-UP SECTION */

.background-overlay-sign-up{
    height: 75%;
    width: 100%;
    background-color: #000000;
    opacity: .9;
    margin: 0px;
}

.background-overlay-sign-up:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: skewY(-20deg);
    box-shadow: 10px 25px 15px #181818;
}

.sign-up-heading{
    text-align: center;
    color: white;
    margin-top: -20px;
}

.sign-up-text{
    font-weight: 300;
    font-size: 80px;
}


.sign-up-btn{
    width: 50%;
    height: 60px;
    background-color: transparent;
    margin-left: 25%;
    margin-top: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #d04925;
    border-radius: 15px;
}

.sign-up-btn-text{
    color: #d04925;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 12.5px;
}


.sign-up-next-btn{
    width: 70px;
    height: 70px;
    background-color: #d04925;
    margin-top: 90px;
    margin-left: 20%;
    border-radius: 50%;
    box-shadow: 5px 15px 20px #181818;
    
}

.sign-up-arrow{
    width: 40px;
    height: 40px;
    background-image: url(../images/Arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
    transform: rotate(180deg);
}

.sign-up-prompt-up{
    width: 160px;
    height: 30px;
    background-color: transparent;
    margin-top: -100px;
    margin-left: 10%;
}

.new-here-prompt-up{
    color: white;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2px;
}

.sign-up-prompt-text-up{
    color: #d04925;
    font-size: 12px;
    font-weight: 700;
    float: right;
    margin-top: -26px;
    letter-spacing: 2px;
}

/* SIGN-UP SECTION TABLET */

.sign-up-heading-tab{
    text-align: center;
    color: white;
    margin-top: 50px;
}

.sign-up-text-tab{
    font-weight: 300;
    font-size: 80px;
}

.sign-up-btn-tab{
    width: 50%;
    height: 60px;
    background-color: transparent;
    margin-left: 25%;
    margin-top: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: #d04925;
    border-radius: 15px;
}

.sign-up-btn-text-tab{
    color: #d04925;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 12.5px;
}

.sign-up-next-btn-tab{
    width: 100px;
    height: 100px;
    background-color: #d04925;
    margin-top: 110px;
    margin-left: 70%;
    border-radius: 50%;
    box-shadow: 5px 15px 20px #181818;
}

.sign-up-next-btn-tab:hover{
    opacity: 0.5;
}

.sign-up-arrow-tab{
    width: 50px;
    height: 50px;
    background-image: url(../images/Arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    margin-left: 25px;
    margin-top: 25px;
    position: absolute;
}

.sign-up-prompt-tab-up{
    width: 230px;
    height: 30px;
    background-color: transparent;
    margin-top: -140px;
    margin-left: 61%;
}

.new-here-prompt-tab-up{
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.sign-up-prompt-text-tab-up{
    color: #d04925;
    font-size: 20px;
    font-weight: 700;
    float: right;
    margin-top: -37px;
    letter-spacing: 2px;
}

/* SIGN UP SECTION DESKTOP */

.sign-up-heading-desk{
    text-align: center;
    color: white;
    margin-top: 0px;
}

.sign-up-text-desk{
    font-weight: 300;
    font-size: 80px;
}

.sign-up-btn-desk{
    width: 50%;
    height: 60px;
    background-color: transparent;
    margin-left: 25%;
    margin-top: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: #d04925;
    border-radius: 15px;
    cursor: pointer;
}

.sign-up-btn-desk:hover{
    background-color: #d04925;
    transition: 300ms;
    box-shadow: 100px 5px 150px #d04925;
}

.sign-up-btn-text-desk{
    color: #d04925;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    margin-top: 12.5px;
}

.sign-up-btn-text-desk:hover{
    color: white;
    transition: 300ms;
}

.sign-up-next-btn-desk{
    width: 100px;
    height: 100px;
    background-color: #d04925;
    margin-top: 250px;
    margin-left: 90%;
    border-radius: 50%;
    box-shadow: 5px 15px 20px #181818;
    cursor: pointer;
}

.sign-up-next-btn-desk:hover{
    transform: scale(1,1.1);
    transition: all ease 300ms;
    cursor: pointer;
}

.sign-up-arrow-desk{
    width: 50px;
    height: 50px;
    background-image: url(../images/Arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 25px;
    margin-top: 25px;
    position: absolute;
    transform: rotate(180deg);
}

.sign-up-prompt-desk-up{
    width: 230px;
    height: 30px;
    background-color: transparent;
    margin-top: -140px;
    margin-left: 82%;
}

.new-here-prompt-desk-up{
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.sign-up-prompt-text-desk-up{
    color: #d04925;
    font-size: 20px;
    font-weight: 700;
    float: right;
    margin-top: -37px;
    letter-spacing: 2px;
}




































