body{
    padding: 0;
    margin: 0;
    background-color: #181819;
}


.img{
    background-position: center;
    height: 100%;
    background-size: auto;
}

.item{
    background-color: greenyellow;
    height: 300px;
    margin-top: 2px;
}

/* ---------------------------------------- */

.mobile-watchlist{
    background-color: aquamarine;
    height: auto;
}

/* -------------------------------------------- */

.tablet-watchlist{
    background-color: aquamarine;
    height: auto;
}

/* --------------------------------------------------- */

.medium-watchlist{
    background-color: aquamarine;
    height: auto;
}

/* --------------------------------------------------- */


/* --------------------------------------------------- */

.pc-watchlist{
    background-color: aquamarine;
    height: auto;
}

/* --------------------------------------------------- */
#Add-Class{
    height: 200px;
    background-color: brown;
}

#Add-Class:hover{
    cursor: pointer;
}